.parking {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
  .wrap {
    width: 75%;
    height: 75%;
    transform: rotate(125deg);
    text-align: center;
    img {
      max-width: 75%;
    }
    p {
      font-weight: 700;
      font-size: rem(10);
    }
  }
}