.wrap {
  .label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
      font-size: rem(11);
      margin-left: rem(3);
    }
    textarea {
      border: rem(1) solid rgba(0,0,0,.3);
      outline: none;
      padding: rem(5);
      border-radius: rem(5);
      font-size: rem(14);
    }
  }
}