@import './_normalize.scss';
@import './_variables.scss';
@import './_transitions.scss';

* {
  box-sizing: border-box;
}

html, #app {
  height: 100%;
}

html {
  font-size:  0.6944444444vw;

  @media (max-width: $tabletWidth) {
    font-size: 1.302083333vw;
  }

  @media (max-width: $mobileWidth) {
    font-size: 2.6666666667vw;
  }
}

body {
  font-size: 1.8rem;
  line-height: 1.1666666667;
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  width: 100%;
  @include themeColor;
  &:global(.popup-opened) {
    overflow: hidden;
  }
}
