.own {
  position: fixed;
  bottom: 0;
  left: $marginInterface;
  width: 100%;
  height: calc(rem(25) + rem(20));
  //background-color: #fff;
  margin-top: $marginInterface;
  border-radius: $borderRadiusInterface;
  transition: height .3s;
  display: flex;
  //overflow: hidden;
  z-index: 10;
  padding-top: rem(20);
  overflow: auto;
  &:hover {
    height: calc(rem(264) + rem(20));
    cursor: pointer;
  }
  &.isShow {
    //height: rem(25);
  }
  .list {
    display: flex;
    .card {
      //height: rem(264);
      height: rem(264);
      &:not(:last-child) {
        margin-right: rem(6);
      }
    }
  }
  .btn {
    color: #fff;
    margin-left: rem(10);
  }
  @media (max-width: 1280px) {
    //height: rem(300);
  }
}