.barRight {
  position: fixed;
  top: $marginInterface;
  right: $marginInterface;
  width: $barWidth;
  height: calc(100% - ($marginInterface * 4));
  background-color: #fff;
  border-radius: $borderRadiusInterface;
}