.start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
  font-size: rem(8);
  .wrap {
    width: 80%;
    height: 80%;
    transform: rotate(-45deg);
    p {
      span {
        font-size: rem(18);
        font-weight: 700;
      }
    }
  }
}