.header {
  position: relative;
  width: 100%;
  height: rem(35);
  display: flex;
  align-items: center;
  //justify-content: space-between;
  padding: rem(25) rem(15) rem(25) rem(10);
  @include themeColor;
  @include themeBackground;
  //@include themeBorder;
  //box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
  border-bottom: rem(1) solid $mainColor;
  svg {
    margin-right: rem(10);
    width: rem(8);
    height: rem(16);
    @include themeColor;
    transition: .15s;
    &:hover {
      cursor: pointer;
    }
  }
  .name {
    font-size: rem(21);
  }
  .transitionWrap {
    width: 100%;
    position: relative;
    text-align: left;
    height: calc(rem(35) - rem(10));
  }
  .themeIcon {
    width: rem(20);
    height: rem(20);
    @include themeColor;
  }
  .theme {
    $width: rem(20);
    $widthThumb: rem(11);
    width: $width;
    height: rem(10);
    @include themeSubBackground;
    border-radius: rem(10);
    cursor: pointer;
    .thumb {
      width: rem(15);
      height: rem(15);
      border-radius: 50%;
      @include themeSubBackground;
      transition: .3s;
    }
    &.light {
      .thumb {
        transform: translate(rem(-5), rem(-2));
      }
    }
    &.dark {
      .thumb {
        transform: translate(rem(10), rem(-2));
      }
    }
  }
}